@media (min-width: 768px) {
    nav {
        width: 10%;
    }

}

@media (min-width: 992px) {

    .nav.close {
        width: 10%;
    }
    .nav.close ul {
        opacity: 1;
    }
    nav div i.toggle {
        display: none;
    }
}