

/*Websettings*/
/* */
/* */

::-webkit-scrollbar {
    display: none;    
}

/*General Settings*/
/* */
/* */

html {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;

    
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Navbar*/
/* */
/* */

.container {
    position: fixed;

}

nav {
    position: sticky;
    display: flex;
    float: left;
    height: 500vh; /* Must be total height of all sections combined*/
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background: #1a1a1a; 
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(red, green, blue, alpha);
    color: azure;
}


.active{
    background-color: crimson;
    transition: 0.3 ease background color;
}
.fas {
    position: relative;
    width: 60px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}


.span-item {
    position: relative;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

/*nav:hover {
    width: 380px;
    transition: all 0.5s ease;
}*/

nav a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 150px;
    padding-top:5px; 
    padding-bottom:5px;
}

nav div i.toggle{
    position: absolute;
    top: 250%;
    right: 70%;
    transform: translateY(-50%);
    height:40px;
    width: 40px;
    align-items: center;
    background: crimson;
    border-radius: 1%;
    border-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav.close {
    width:0%;
}
.nav.close ul {
    opacity: 0;
}
/* General Section Settings*/
/* */
/* */

.me {
padding-top: 2%;
height: 10rem;
width: auto;
}
header {
    text-align: center;
    padding-top: 1rem;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;

}

.cc {
    text-align: center;
} 

.div {
    padding: 1rem;
    text-align: center;
}


