
@media  (min-width: 300px ) {
    nav {
        color: aqua;
        width: 20%;

    }
    nav:hover {
        width: 20%;
    }

    .head {
        text-align: center;
        padding-top: 2rem;
    }

    .innerdivs1 {
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-color: aquamarine;
        border: 40px;
        background-color: aqua;
    
    }
    } 



@media  (min-width: 1000px ) {
    nav {
        color: red;
        width: 10%;
    }

    nav:hover {

        width: 380px;
    }

    .head {
        text-align: center;
        padding-top: 5rem;
    }

    .innerdivs1 {
        height: 50vh;
        display: flex;
        flex-direction: row;
        border-color: aquamarine;
        border: 40px;
        background-color: aqua;
    
    
    } 

}