
::-webkit-scrollbar {
    display: none;    
}


html {
    scroll-snap-type: y mandatory;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: fixed;
}

nav {
    display: flex;
    float: left;
    height: 400vh;
    top: 0;
    bottom: 0;
    width: 10%;
    left: 0;
    right: 0;
    background: #1a1a1a; 
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(red, green, blue, alpha);
    color: azure;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}


.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

nav:hover {
    width: 380px;
    transition: all 0.5s ease;
}

a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 150px;
    padding: 10px;
}



#s1 {

    height: 100vh;
    overscroll-behavior-y: contain;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

.innerdivs1 {
    height: 50vh;
    display: flex;
    flex-direction: row;


}

.insec1 {
    padding: 0.3rem;

}

#s2 {
    overscroll-behavior-y: contain;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;

}

#s3 {
    overscroll-behavior-y: contain;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;


}

#s4 {
    overscroll-behavior-y: contain;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;

}



footer {


}