/*Websettings*/
/* */
/* */

::-webkit-scrollbar {
    display: none;    
}

/*General Settings*/
/* */
/* */

html {
    scroll-snap-type: y mandatory;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Navbar*/
/* */
/* */

.container {
    position: fixed;
}

nav {
    position: sticky;
    display: flex;
    float: left;
    height: 400vh;
    top: 0;
    bottom: 0;
    width: 10%;
    left: 0;
    right: 0;
    background: #1a1a1a; 
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(red, green, blue, alpha);
    color: azure;
}

nav div.container ul li a.active{
    background-color: crimson;
    transition: 0.3 ease background color;

}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}


.span-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

nav:hover {
    width: 380px;
    transition: all 0.5s ease;
}

a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 150px;
    padding: 10px;
}
/*Section 0 */
/* */
/* */

#s0 {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

/*Section 1 */
/* */
/* */

#s1 {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

.innerdivs1 {
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.insec1 {
    padding: 0.3rem;
}

/*Section 2 */
/* */
/* */

#s2 {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

/*Section 3 */
/* */
/* */

#s3 {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

/*Section 4 */
/* */
/* */

#s4 {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    height: 100vh;
}


