/*Websettings*/
/* */
/* */

::-webkit-scrollbar {
    display: none;    
}

/*General Settings*/
/* */
/* */

html {
    scroll-snap-type: y mandatory;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Navbar*/
/* */
/* */

.container {
    position: fixed;
}

nav {
    position: sticky;
    display: flex;
    float: left;
    height: 500vh;
    top: 0;
    bottom: 0;
    width: 10%;
    left: 0;
    right: 0;
    background: #1a1a1a; 
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(red, green, blue, alpha);
    color: azure;
}



.nav-item1.active .nav-link{
    background-color: crimson;
    transition: 0.3 ease background color;
}
.nav-item2.active .nav-link{
    background-color: crimson;
    transition: 0.3 ease background color;
}
.nav-item3.active .nav-link{
    background-color: crimson;
    transition: 0.3 ease background color;
}
.nav-item4.active .nav-link{
    background-color: crimson;
    transition: 0.3 ease background color;
}
.nav-item5.active .nav-link{
    background-color: crimson;
    transition: 0.3 ease background color;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}


.span-item {
    position: relative;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

nav:hover {
    width: 380px;
    transition: all 0.5s ease;
}

a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 150px;
    padding: 10px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;

}

.innerdivs1 {
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.insec1 {
    padding: 0.3rem;
}





