
@media  (min-width: 300px ) {
    nav {
        color: aqua;
        width: 10%;
    }
    nav:hover {
        width: 10%;
    }
nav li {
    font-size: 0.1rem;

}

nav span {
    font-size: 0.5rem;
}


    .head {
        text-align: center;
        padding-top: 2rem;
    }

   

    nav a{
        width: 72px;
    }

    } 



@media  (min-width: 1000px ) {
    nav {
        color: red;
        width: 10%;
    }
    .container {
        font-size: 0.5rem;
    
    }
    nav:hover {

        width: 380px;
    }

    .head {
        text-align: center;
        padding-top: 5rem;
    }

    nav a{
        width: 165px;
    }
}